body {
    background-color: white;
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1500px;
    height: 600px;
    color: cornflowerblue;
    font-weight: bold;
}